{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Active Listings:</h1>
    {% for listing in listings %}
        
        <div class="listing-object">
            <h2><a href="{% url 'view_listing' listing.id %}">{{ listing.listing_title }}</a></h2>
            {% if listing.listing_image %}
                <a href="{% url 'view_listing' listing.id %}"><img width="200" height="200" src="{{ listing.listing_image.url }}" ></a>
            {% endif %}
            <h3>Current bid: ${{ listing.listing_current_bid }}</h3>
            <h4>Category: <a href="{% url 'view_category' listing.listing_category.category_name %}">{{ listing.listing_category }}</a></h4>
            <p>Created {{ listing.listing_time }}</p>
        </div>
        <br>
    {% empty %}
    Sadly no current listings are active at the moment. Please try again later.
    {% endfor %}
{% endblock %}